section{
    display: block;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 5px lightgray;  
}

table{
    table-layout: auto;
    width: 100%;
}
thead{
    background-color: lightgrey;
}
tbody{
    background-color: rgba(243, 240, 240, 0.753);
}
th,td{
    padding: 5px;
    text-align: center;
}
label{
    margin: 5px;
}
input{
    margin: 10px;
}